/* src/app/styles/variables.css */
:root {
  --font-sans: 'Jost', sans-serif;
  --color-bg-primary: #141414;
  --color-bg-secondary: #FFFFFF;
  --color-text-primary: #ffffff;
  --color-text-secondary: #000000;
  --color-accent-blue: #00AAFF;
  --color-accent-dark: #1F2937;
  --hero-background: url('../assets/IMG20240703130257-EDIT(1).png');
}
