/* src/app/components/Hero.module.css */

.section {
  background-image: var(--hero-background);
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 32px);
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0 8rem;
}

.heading {
  margin: 0.5rem 0;
  font-size: 10rem;
  font-weight: 500;
  color: var(--color-text-primary);
  line-height: 1.2;
  width: 100%;
  text-align: inherit;
  pointer-events: none;
  text-shadow: -0.2px -0.2px 0 #000000, 0.2px -0.2px 0 #000000, -0.2px 0.2px 0 #000000, 0.2px 0.2px 0 #000000;
}

.heading1 {
  text-align: left;
}
.heading2 {
  text-align: center;
}
.heading3 {
  text-align: right;
  align-items: center;
}

.buttonContainer {
  margin-top: 1.5rem;
  margin-right: 12rem;
  display: flex;
  justify-content: right;
  gap: 1rem;
}
