/* src/app/components/Navbar.module.css */

.navbar {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 50;
  background-color: transparent;
  padding: 1rem 0 0 0;
  text-align: center;
  align-items: center;
}

.inner {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  position: relative;
}

.logo {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-text-secondary);
}

.menu {
  display: flex;
  gap: 1.5rem;
}

.menuItem {
  color: var(--color-text-secondary);
  transition: color 0.2s ease;
}
